<%= link_to @post.title, @post.url %>
<%= link_to 'Back', posts_path %>

<%= render "comments/form" %>

<% @post.comments.each do |comment| %>
<p><%= comment.body %></p>
<p><%=  link_to "Edit", edit_post_comment_path(@post.id, comment.id) %></p>
<p><%=  link_to "Delete", post_comment_path(@post.id, comment.id), :method => :delete %></p>
<% end %>